<div style="float: left; margin-left: -3px; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px; background: url('https://www.usereserva.com/ccstore/v1/images/?source=/file/general/email-transacional-v2-timeline-tooltip-left.png') no-repeat; background-size: 100%; padding: 15px;  margin-top: 5px;">Confirmado</div>
<div style="float: left; margin-left: 25px; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px; margin-top: 20px;">Autorizado</div>
<div style="float: left; margin-left: 75px; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px; margin-top: 20px;">Faturado</div>
<div style="float: left; margin-left: 85px; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px; margin-top: 20px;">Na loja</div>
<div style="float: left; margin-left: 65px; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px; margin-top: 20px;">Entregue</div>
