<div style="float: left; margin-left: 10px; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px; margin-top: 20px;">Confirmado</div>
<div style="float: left; margin-left: 45px; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px; margin-top: 20px;">Autorizado</div>
<div style="float: left; margin-left: 50px; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px; background: url('https://www.usereserva.com/ccstore/v1/images/?source=/file/general/email-transacional-v2-timeline-tooltip-center.png') no-repeat; background-size: 100%; padding: 15px 20px;  margin-top: 5px;">Faturado</div>
<div style="float: left; margin-left: 65px; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px; margin-top: 20px;">Na loja</div>
<div style="float: left; margin-left: 65px; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px; margin-top: 20px;">Entregue</div>
