<table cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF" class="main-width-inner" style="width: 100%; margin:0; margin-top: 40px; padding: 0; overflow: hidden">

  <tr>
   <td valign="top" style="height: 40px; color: #000000; text-transform: uppercase; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 600;">Produtos</td>
  </tr>

  //- Produto
  <tr>
   <td valign="top" style="width: 80px; color: #000000; text-transform: uppercase; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 600;">
    <div style="margin-bottom: 40px; width: 80px; min-height: 100px; background: #EDEBE8">
      <img src="https://ci3.googleusercontent.com/proxy/9MbfF3T48QPoi2awoacmZguHh0Mzv7s4v50L2ajqzECeMRAJfWNvV-eqK4qSxCEePKdLhqPW5r5vEBVXeK4EDe6kKxF1cYGT-hvxn6PID_7P6AcP3cP1_ELLt8T7faJLGL5kMLb7u4BN5xNISHxw-YGnVNdvfJJbtLQwY1mz=s0-d-e1-ft#https://www.usereserva.com//ccstore/v1/images/?source=/file/v2748723165868342012/products/0012304040_01.jpg" width="80" height="auto" alt="Nome do Produto"/>
    </div>
   </td>
   <td valign="top">
    <div style="margin-left: 20px; color: #000000; text-transform: uppercase; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 600;">Calça Sarja Casual stretch</div>

    <table cellspacing="0" cellpadding="0" border="0" class="" style="width: 100%; margin-top: 20px; margin-left: 20px;">

      //- Render Desk
      <tr valign="middle" class="only-desk-table-row" style="display: none;">
        <td style="color: #000; text-transform: none; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px;">Cor: Amarelo Vinagre</td>
        <td style="color: #000; text-transform: none; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px;">Tamanho: m</td>
        <td style="color: #000; text-transform: none; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px;">Quantidade: 1</td>
        <td style="color: #000; text-transform: none; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px;">Valor: R$2199,00</td>
      </tr>

      //- Render Mobi
      <tr class="only-mobi">
        <td style="display: block;">
          <div style="color: #000000; text-transform: none; text-align: left; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 14px; margin-bottom: 5px;">Cor: Amarelo Vinagre</div>
          <div style="color: #000000; text-transform: none; text-align: left; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 14px; margin-bottom: 5px;">Tamanho: m</div>
          <div style="color: #000000; text-transform: none; text-align: left; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 14px; margin-bottom: 5px;">Quantidade: 1</div>
          <div style="color: #000000; text-transform: none; text-align: left; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 14px; margin-bottom: 5px;">Valor: R$2199,00</div>
        </td>
      </tr>
    </table>
   </td>
  </tr>

  //- Produto
  <tr>
    <td valign="top" style="width: 80px; color: #000000; text-transform: uppercase; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 600;">
      <div style="margin-bottom: 40px; width: 80px; min-height: 100px; background: #EDEBE8">
        <img src="https://ci6.googleusercontent.com/proxy/BUEkpdEdru3zJMCGyZMwFyoHro3LT3KheKWg0i1Fruf6h9sOZtAdSgezd96b06H3e9Pj1DkcoffxzKP08_haOwzdJIvd2g8TwU0oX4VoangyKmpBGDBlc7K55yhkFCXZ6O1uLzAFUlEC14KDBWcxqSlDSr2411Vw8WabYhuZ=s0-d-e1-ft#https://www.usereserva.com//ccstore/v1/images/?source=/file/v6730339293942937961/products/0044163040_01.jpg" width="80" height="auto" alt="Nome do Produto"/>
      </div>
    </td>
    <td valign="top">
      <div style="margin-left: 20px; color: #000000; text-transform: uppercase; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 600;">Calça Sarja Casual stretch</div>

      <table cellspacing="0" cellpadding="0" border="0" class="" style="width: 100%; margin-top: 20px; margin-left: 20px;">

        //- Render Desk
        <tr valign="middle" class="only-desk-table-row" style="display: none;">
          <td style="color: #000; text-transform: none; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px;">Cor: Amarelo Vinagre</td>
          <td style="color: #000; text-transform: none; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px;">Tamanho: m</td>
          <td style="color: #000; text-transform: none; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px;">Quantidade: 1</td>
          <td style="color: #000; text-transform: none; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px;">Valor: R$2199,00</td>
        </tr>

        //- Render Mobi
        <tr class="only-mobi">
          <td style="display: block;">
            <div style="color: #000000; text-transform: none; text-align: left; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 14px; margin-bottom: 5px;">Cor: Amarelo Vinagre</div>
            <div style="color: #000000; text-transform: none; text-align: left; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 14px; margin-bottom: 5px;">Tamanho: m</div>
            <div style="color: #000000; text-transform: none; text-align: left; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 14px; margin-bottom: 5px;">Quantidade: 1</div>
            <div style="color: #000000; text-transform: none; text-align: left; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 14px; margin-bottom: 5px;">Valor: R$2199,00</div>
          </td>
        </tr>
      </table>
    </td>
  </tr>

</table>


//- https://ci3.googleusercontent.com/proxy/9MbfF3T48QPoi2awoacmZguHh0Mzv7s4v50L2ajqzECeMRAJfWNvV-eqK4qSxCEePKdLhqPW5r5vEBVXeK4EDe6kKxF1cYGT-hvxn6PID_7P6AcP3cP1_ELLt8T7faJLGL5kMLb7u4BN5xNISHxw-YGnVNdvfJJbtLQwY1mz=s0-d-e1-ft#https://www.usereserva.com//ccstore/v1/images/?source=/file/v2748723165868342012/products/0012304040_01.jpg

//- https://ci6.googleusercontent.com/proxy/BUEkpdEdru3zJMCGyZMwFyoHro3LT3KheKWg0i1Fruf6h9sOZtAdSgezd96b06H3e9Pj1DkcoffxzKP08_haOwzdJIvd2g8TwU0oX4VoangyKmpBGDBlc7K55yhkFCXZ6O1uLzAFUlEC14KDBWcxqSlDSr2411Vw8WabYhuZ=s0-d-e1-ft#https://www.usereserva.com//ccstore/v1/images/?source=/file/v6730339293942937961/products/0044163040_01.jpg


//- https://ci3.googleusercontent.com/proxy/5qeCNemoIagwUc3O6RjBugT-Ugy4q7TQsNPQlwMOVNvTzpOuwnF9O8MLCAeyxVOOUVBjJwdSkexHuWlVNClxl5LmayYKVSmMTTqwy1hF0VMrmEApeenEB9Mjlw6qkT3-7-QAzNXVR4TyRGlHxu-pGmNEIEDG5EPa1m82QAUL=s0-d-e1-ft#https://www.usereserva.com//ccstore/v1/images/?source=/file/v5376912203582047036/products/0034440014_01.jpg


//- https://ci6.googleusercontent.com/proxy/CZFS_4JM_diU5ex7ZwiEGWIlFMYlRdAPGBoFKOLePy3IZFRyUlRGyHVFyNbhBrFei58bAFTesBDIwtjR1BViuy9tHUAmMNNP8gorELWvDnITYvfR2WCnY-dw1j6nheR18GzeQ44XnUzsUAHJLAJUoafkPL2kqFSPR75U8NeF=s0-d-e1-ft#https://www.usereserva.com//ccstore/v1/images/?source=/file/v5506040886958257792/products/0046102001_01.jpg
