<table cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF" class="border-width" style="width: 100%; margin: 0; padding: 0; padding-top: 20px ; color: #000000;">

  <tr>
    <td valign="middle" style="color: #000000; text-transform: none; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px;">
      <div class="main-width-inner padd-reset" style="width: 270px; margin: 0 auto;">
        <div style="font-weight: 600; font-size: 14px;">Olá, #{userName}!</div>

        <div style="line-height: 18px; margin-top:15px;">Infelizmente, o seu pedido não foi aprovado pelo nosso intermediador financeiro.<br><br>Não precisa se preocupar, você não será cobrado por esta compra.<br><br>Para maiores informações entre em contato com a administradora do seu cartão de crédito ou com a gente através dos e-mails:</div>

        <div style="line-height: 22px; margin-top:15px; color: #000000; text-transform: none; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 600;"><a style="color: #000000; text-transform: none; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 600;" href="mailto:sac@usereserva.com" target="_blank" title="sac@usereserva.com">sac@usereserva.com</a>, <a style="color: #000000; text-transform: none; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 600;" href="mailto:sac@ahlma.cc" target="_blank" title="sac@Ahlma.cc">sac@ahlma.cc</a>, ou <a style="color: #000000; text-transform: none; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 600;" href="mailto:sac@oficinareserva.com" target="_blank" title="sac@oficinareserva.com">sac@oficinareserva.com</a>.</div>

        <div style="line-height: 18px; margin:30px 0;">Estamos 100% a postos para te dar todo suporte que seja necessário.</div>

      </div>
    </td>
  </tr>
</table>
