<table cellpadding="0" cellspacing="0" border="0" bgcolor="#F2F2F0" class="border-width" style="width: 100%; margin: 0; padding: 0; padding: 30px 0; border-radius: 10px; color: #FFF;">

  <tr>
    <td valign="middle" style="color: #000000; text-transform: none; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px;">
      <div class="main-width-inner padd-reset" style="width: 270px; margin: 0 auto;">
        <div style="font-weight: 600;">1 Peça = 5 Pratos</div>
        <div style="line-height: 22px; margin-top:15px; margin-bottom:15px;">Você sabia? Ao realizar esta compra, você nos ajudou a viabilizar 5 refeições para quem tem fome no Brasil. Nosso projeto 1P=5P tem como objetivo reduzir o desperdício de alimentos e os efeitos da fome no nosso país. Levamos comida de onde sobra para quem não tem.</div>
        <div>Saiba mais em <a style="color: #000000; text-transform: none; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 600;" href="https://www.usereserva.com/1p5p" target="_blank" title="Ir para 1p5p">usereserva.com/1p5p</a>.</div>
      </div>
    </td>
  </tr>

</table>
