<table cellpadding="0" cellspacing="0" border="0" bgcolor="#000000" class="border-width" style="width: 100%; margin: 0; margin-top: 20px; padding: 0; padding: 30px 0; border-radius: 10px; color: #FFF">

  <tr>
    <td valign="middle" style="color: #FFFFFF; text-transform: none; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-size: 12px;">
      <div class="main-width-inner padd-reset" style="width: 270px; margin: 0 auto;">
        <div style="font-weight: 600;">Nossa alegria é fazer você feliz!</div>
        <div style="line-height: 18px; margin-top:15px; margin-bottom:15px;">Por isso. Realizando qualquer compra no site você tem direito à <strong>20% de desconto</strong><br> para utilizar nas lojas Reserva. Tomara que goste do presente, foi de coração!</div>
        <div style="line-height: 18px;">* Válido para produtos reserva e mini, exceto Penetras, Vaibe e relógios.<br>Não cumulativos com outras promoções.</div>
      </div>
    </td>
  </tr>

</table>
