<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" data-editor-version="2">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />

  style(type="text/css").


    .gs li { margin: 0;}

    .ExternalClass {
      width: 100%;
    }

    .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; }

    body {
      -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
      -webkit-font-smoothing: antialiased !important;
      -moz-font-smoothing: antialiased !important;
      text-rendering: optimizelegibility !important;
    }

    html,
    body {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
    }

    table td {
      border-collapse: collapse;
      border-spacing: 0px;
      border: 0px none;
    }


    body,
    #body_style {
      background: #fff;
      min-height: 1000px;
      color: #FFF;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    #bodyTable{
      height:100% !important;
      margin:0;
      padding:0;
      width:100% !important;
    }

    html,
    body {
      line-height: 1.2;
    }

    span {
      font-size: 15px;
      line-height: 1.2;
      margin: 0;
      padding: 0;
    }


    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    i,
    b,
    a,
    ul,
    li,
    blockquote,
    hr,
    img,
    div,
    span,
    strong {
      line-height: 1.2;
      margin:0;
      padding:0;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 18px;
      color: black;
    }
    h1 {
      font-size: 24px;
      color: black;
    }

    a,
    a:link {
      color: #FFF;
      text-decoration: none ;
    }


    img {
      display: block;
      border: 0 none;
      outline: none;
      line-height: 100%;
      outline: none;
      text-decoration: none;
      vertical-align: bottom;
      height:auto;
    }
    a img {
      border: 0 none;
    }

    .imageFix{
      display:block;
    }


    small {
      font-size: 11px;
      line-height: 1.4;
    }
    small a {
      color: inherit;
      text-decoration: underline;
    }
    span.yshortcuts {
      color: #FFF;
      background-color: none;
      border: none;
    }
    span.yshortcuts:hover,
    span.yshortcuts:active,
    span.yshortcuts:focus {
      color: #FFF;
      background-color: none;
      border: none;
    }


    a:visited {
      color: #FFF;
      text-decoration: none
    }
    a:focus {
      color: #FFF;
      text-decoration: underline
    }
    a:hover {
      color: #FFF;
      text-decoration: underline
    }



    @media screen and (min-width:600px) {

      .only-desk {display:block !important;}
      .only-desk-table-row {display:table-row !important;}
      .only-desk-table-cell {display:table-cell !important;}
      .only-mobi { display:none !important; }

      .border-width {width:580px !important;}
      .main-width {width:600px !important; }
      .main-width-inner {width: 520px !important; }
      .main-width-box-inner {width: 415px !important; }
      .width-100-porcent {width: 100% !important; }
      .width-auto {width: auto !important; }
      .table-cell {display:table-cell !important;}
      .table-row {display:table-row !important;}
      .inline {display:inline !important;}
      .float-left {float: left !important;}
      .float-right {float: right !important;}
      .align-right {text-align: right !important;}
      .bg-100 {background-size: 100% !important;}


      .padd-50 {padding: 50px !important;}
      .padd-left-10 {padding-left: 10px !important;}
      .padd-top-14{padding-top: 14px !important;}
      .padd-right-30 {padding-right: 30px !important;}
      .padd-right-reset {padding-right: 0 !important;}
      .padd-left-reset {padding-left: 0 !important;}
      .padd-reset {padding: 0 !important;}
      .margin-auto {margin: 0 auto !important;}
      .margin-left-10 {margin-left: 10px !important;}
      .margin-left-15 {margin-left: 15px !important;}
      .margin-left-30 {margin-left: 30px !important;}
      .margin-left-60 {margin-left: 60px !important;}
      .margin-left-80 {margin-left: 80px !important;}
      .margin-right-20 {margin-right: 20px !important;}
      .margin-right-30 {margin-right: 30px !important;}
      .margin-top-40 {margin-top: 40px !important;}
      .margin-bottom-0 {margin-bottom: 0px !important;}
      .margin-bottom-15 {margin-bottom: 15px !important;}
      .margin-reset {margin: 0 !important;}
      .font-12 {font-size: 12px !important;}

      .text-right { text-align: right !important; }
      .box-icon { width: 60px !important; }
      .height-box-pagamento-preto { height: 172px !important; }
      .bg-pos-box-pagamento-preto { background-position: 0 135px !important; }

      .header {height:480px !important;}
      .header-boleto {height:400px !important;}
      .header.cancelamento {height:318px !important;}
      .header-top {height: 50px !important;}
      .header-top-text {height: 250px !important;}
      .header-top-text-item {line-height: 58px !important; font-size: 58px !important; margin:0 !important; padding:0 !important; margin-top: 20px !important; margin-left: 30px !important; }

      .header-info {margin: 0px !important;}
      .header-info-bottom {text-align: left !important;  margin-left: 30px !important;}

      .steps { background-size: contain !important; }
    }

</head>

<body style="padding:0; margin:0">

  include configs

  <center>
    //- RENDER templates
    include templates
    //- include templates-all
  </center>
</body>
</html>
