if templateType == "cancelamento"
  include headers/email-header-cancelamentos
  include boxes/box-cancelamento
else if templateType == "boletos"
  include headers/email-header-boletos
  include boxes/box-pagamento-preto
  include boxes/box-pagamento-opcoes-debito
else if templateType == "multiplasEntregas"
  include headers/email-header

  if step == "confirmado"
    if pagamentoType == "boleto" || pagamentoType == "debito"
      include boxes/box-pagamento-preto

  if step == "autorizado"
    include boxes/box-1p5p-pratos-doados


  if step == "confirmado" || step == "autorizado"
    include boxes/box-textos-genericos
    include boxes/box-compra-multiplas-entregas
  else
    if step == "faturadoEntrega1" || step == "naLojaEntrega1" || step == "entregueEntrega1" || step == "faturadoEntrega2"  || step == "enviadoEntrega2"  || step == "naLojaEntrega2"  || step == "entregueEntrega2"
      include boxes/box-compra-multiplas-entregas
      include pedidos/produtos-destaque-multiplas-entregas
      if step == "naLojaEntrega1" || step == "naLojaEntrega2"
        include boxes/box-endereco-loja-preto

      include boxes/box-textos-genericos


  include pedidos/resumo-pedidos-multiplas-entregas

  if step != "confirmado" && step != "autorizado"
    include pedidos/resumo-pedido-entregue-multiplas-entregas-infos-status

  if step != "faturadoEntrega2" && step != "enviadoEntrega2" && step != "naLojaEntrega2" && step != "entregueEntrega2"
    include pedidos/resumo-pedidos-multiplas-entregas-infos-status
    include pedidos/produtos
    if step == "confirmado" || step == "autorizado"
      include pedidos/resumo-pedidos-multiplas-entregas-infos-status
      include pedidos/produtos
  else
    include pedidos/resumo-pedido-entregue-multiplas-entregas-infos-status

  if step != "naLojaEntrega1" && step != "naLojaEntrega2"
    include boxes/box-endereco-loja-cinza

  if step != "confirmado"
    include boxes/box-pagamento

  include boxes/box-1p5p-infos

  if step == "autorizado" || step == "faturadoEntrega1" || step == "faturadoEntrega2" || step == "enviadoEntrega1" || step == "enviadoEntrega2" || step == "naLojaEntrega1" || step == "naLojaEntrega2" || step == "entregueEntrega1" || step == "entregueEntrega2"
    include boxes/box-cross-sell


else
  include headers/email-header
  if step == "confirmado"
    if pagamentoType == "boleto" || pagamentoType == "debito"
      include boxes/box-pagamento-preto

  if step == "autorizado"
    include boxes/box-1p5p-pratos-doados


  if step == "naLoja"
    include boxes/box-endereco-loja-preto

  include boxes/box-textos-genericos
  include pedidos/resumo-pedidos
  include pedidos/produtos

  if step != "naLoja"
    include boxes/box-endereco-loja-cinza

  if step != "confirmado"
    include boxes/box-pagamento



  include boxes/box-1p5p-infos

  if step == "autorizado" || step == "faturado" || step == "enviado" || step == "naLoja" || step == "entregue"
    include boxes/box-cross-sell

if templateType != "boletos" && templateType != "cancelamento"
  include boxes/box-recomendacao


if templateType != "cancelamento"
  include footers/email-footer-textos

include footers/email-footer-logos
